.recap-banner {
  background: #fff;
  padding: 6px;
  margin: 1em;
  border: 1px solid #aaa;
}
.recap-inline {
  padding: 0 0 0 4px;
}
.recap-banner img, .recap-inline img {
  margin: 0 0 -2px 0;
  width: 16px;
  height: 16px;
}
