<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.Safari.web-extension</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).SafariWebExtensionHandler</string>
		<key>SFSafariPageProperties</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>ecf.*</string>
				<string>ecf-train.*</string>
				<string>pacer.*</string>
				<string>*.uscourts.gov</string>
			</array>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
</dict>
</plist>
