/* This file is part of RECAP for Chrome.
   Copyright 2013 Ka-Ping Yee <ping@zesty.ca>

   RECAP for Chrome is free software: you can redistribute it and/or modify it
   under the terms of the GNU General Public License as published by the Free
   Software Foundation, either version 3 of the License, or (at your option)
   any later version.  RECAP for Chrome is distributed in the hope that it will
   be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General
   Public License for more details.

   You should have received a copy of the GNU General Public License along with
   RECAP for Chrome.  If not, see: http://www.gnu.org/licenses/

*/

/*
  CSS to use font files from the assets folder
*/
.fa {
  font-family: 'RecapFontAwesome' !important;
}

@font-face {
  font-family: 'RecapFontAwesome';
  src: url("chrome-extension://__MSG_@@extension_id__/assets/fonts/fontawesome-webfont.woff2"),
  url("moz-extension://__MSG_@@extension_id__/assets/fonts/fontawesome-webfont.woff2"),
  url("safari-web-extension://__MSG_@@extension_id__/assets/fonts/fontawesome-webfont.woff2");
  font-weight: normal;
  font-style: normal;
}

/*
   CSS For the options page
*/
#options-body {
  background-color: white;
  color: black;
  width: 100%;
  height: 600px;
}

#options-body .btn-primary {
  background-color: #5064ad;
  border-color: #3a4c8f;
}

#options-body .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #5064ad;
  border-color: #3a4c8f;
}

#options-body .form-check-input:before{
  background-color: #5064ad;
}

#options-body #container {
  padding: 20px;
  height: 100%;
  display: grid;
  grid-template-rows: [header] 42px [main] auto [footer] 42px;
}

/* Tablet sized adjustment for safari extension*/
@media only screen and (min-device-width: 768px){

    #options-body #container {
      padding: 20px;
      height: 100%;
      display: grid;
      grid-template-rows: [header] 42px [main] auto [footer] 42px;
      width: 500px !important;
    }
}

#options-body button {
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}

#options-body .alert {
  background: lightyellow;
}
#options-body .gold {
  color: gold;
}
#options-body .gray {
  color: gray;
}

#options-body .hidden {
  display: none;
}
#options-body .text-center {
  text-align: center;
}

#options-body .pad20 {
  padding: 20px;
}

#options-body a {
  text-decoration: none;
}

#options-body #version {
  font-family: helvetica, arial, serif;
  font-size: 10px;
}

#options-body legend {
  margin: 0;
}

#options-body fieldset {
  padding: 10px 0px;
}

#nav-recap {
  padding-top: 20px;
}

#nav-recap h4 {
  padding: 40px 0px 20px 0px;
}

#nav-recap #search-container {
  width: 100%;
  padding: 0px 20px;
}

#nav-recap #more-search-buttons,
#nav-donate #donate-button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

#nav-recap #more-search-buttons {
  padding: 20px;
}

#nav-recap #more-search-buttons a {
  margin: 0px 10px;
}

#options-body main {
  padding-top: 100px;
}

#options-body footer {
  bottom: 0;
  display: grid;
  grid-template-columns: 33% auto 33%;
  justify-items: center;
  align-items: center;
}

footer #disable_recap_toggle {
  justify-self: start;
}
footer #badges {
  justify-self: end;
}
footer #version {
  justify-self: center;
}

/*
   CSS for styling content on PACER pages generated by the content script.
*/

#recap-alert-button {
  padding: 0.25rem;
  min-width: max-content;
  display: inline-flex;
  flex-direction: row;
  align-items: start;
}

#recap-alert-button img {
  margin-right: 0.25rem;
}

#recap-alert-button.disabled {
  color: #aaa;
}

.recap-email-banner-full{
  font-family: helvetica, arial, serif;
  font-size: 13px;
  background: #fff;
  padding: 6px;
  margin: 1em 0em;
  border: 1px solid #aaa;
}

.recap-banner,
.recap-popup,
.recap-email-banner {
  font-family: helvetica, arial, serif;
  font-size: 13px;
  background: #fff;
  padding: 6px;
  margin: 1em;
  border: 1px solid #aaa;
}
.recap-banner {
  max-width: 450px;
}
.recap-email-banner{
  max-width: 525px;
}
.recap-inline {
  padding: 0 0 0 4px;
}
.recap-banner img,
.recap-inline img,
.recap-email-banner img{
  margin: 0 0 -2px 0;
  width: 16px;
  height: 16px;
}
.recap-popup {
  padding: 12px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin: -6em 0 0 -15em;
  width: 30em;
  height: auto;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
#recap-shade {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.3;
  z-index: 1;
}
.recap-close-link {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 140%;
  float: right;
  vertical-align: top;
}
/* Gradient colours, shadow, and opacity imitate the Chrome PDF toolbar. */
#recap-download {
  font-family: helvetica, arial;
  font-size: 13px;
  position: absolute;
  padding: 16px 48px 48px 16px;
  opacity: 0;
  -webkit-transition: opacity 1000ms;
}
#recap-download.initial {
  opacity: 0.94;
}
#recap-download:hover {
  opacity: 0.94;
  -webkit-transition: opacity 150ms;
}
#recap-download a {
  display: block;
  margin-bottom: 8px;
  padding: 4px 8px;
  border: 1px solid #252525;
  border-radius: 4px;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  color: #fff;
  background: -webkit-linear-gradient(top, #394d73, #0e1626);
  text-decoration: none;
}
#recap-download a:hover {
  background: -webkit-linear-gradient(top, #436094, #1b2e59);
}

.nav-item {
  border: 1px solid #dee2e6 !important;
}

.nav-link.active {
  border: 1px solid #dee2e6 !important;
  background: whitesmoke !important;
}


.btn-disabled{
  pointer-events: none !important;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 5px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.btn{
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.42857143;
  font-family: Sans-Serif;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-group{
  position: relative;
  display: flex;
  vertical-align: middle;
  margin-top: 5px;
  margin-left: 5px;
}

.btn-primary {
  color: #fff;
  background-color: #5064ad;
  border-color: #3a4c8f;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active{
  color: #ffffff;
  background-color: #3a4c8f;
  border-color: #303f77;
}

.btn-primary:active,
.btn-primary.active{
  background-image: none;
}

.btn-group>.btn+.dropdown-toggle {
  padding-left: 8px;
  padding-right: 8px;
}

.btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.btn-group .btn+.btn, 
.btn-group .btn+.btn-group, 
.btn-group .btn-group+.btn, 
.btn-group .btn-group+.btn-group {
  margin-left: -1px;
}

.btn-group>.btn{
  position: relative;
  float: left;
}

.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.btn-group>.btn:first-child {
  margin-left: 0;
}

.btn-group>.btn{
  position: relative;
  float: left;
}

.dropdown {
  position: relative;
}
.dropdown-toggle:focus {
  outline: 0;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 12px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 7.5px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
  text-decoration: none;
  font-family: Sans-Serif;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #777777;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.open > .dropdown-menu {
  display: block;
}
.open > a {
  outline: 0;
}

.open > .dropdown-toggle.btn-primary {
  background-image: none;
}

.show {
  display: block !important;
}

.dropdown-header {
  display: block;
  margin-bottom: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  font-size: 0.75rem;
  white-space: nowrap;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.recap-dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid rgba(0, 0, 0, 0.175);
  opacity: 1;
}

.recap-btn-spinner-hidden{
  display: none !important;
}

.full-page-iframe{
  position: absolute; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  top: 0; 
}

.recap-inline-appellate{
  display: inline-flex;
  padding: 0px 3px;
}

.recap-filing-button{
  vertical-align: middle;
  padding-left: 4px;
}

.recap-filing-button > img{
  padding-top: 2px;
}

.recap-banner-inner-div{
  display: inline-flex;
}

.recap-banner-inner-div > p{
  margin: 0px;
  padding: 0px 2px;
}

.recap-banner-inner-div > img{
  margin-right: 0.25rem;
}
